@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
	 

*{
    box-sizing: border-box;
}

.logo {
    width: 140px;
    padding-right: 20px;
    

}

.mainImg {
    background-image: url("/img/mainImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 800px;
}

 
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
	background-color: #F8F8F8;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.navPos {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav {
    overflow: hidden;
    padding-left: 40px;
    display: flex;
    align-items: center;
}


.topnav a {
  padding: 14px 30px;
  text-align: center;
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  
}	

	
.topnav a::before,
.topnav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.topnav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #FFD160;
  border-right: 3px solid #F8D147;
  transform: translate(-100%, 50%);
}

.topnav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #F8D147;
  border-left: 3px solid #FFD160;
  transform: translate(100%, -50%)
}

.topnav a:hover:before,
.topnav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.topnav a:hover {
  color: #FFD160;
  font-weight: bold;
}

.double{
    width: 100%;
    height: 250px;
    position: absolute;

}

.top{
    height: 20%;
    background-color: #37BEBB;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.top a{
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    
}


.top a:hover{
    color: #FFD160;
    font-weight: bold;
}

.bottom{
    height: 80%;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
}

.ends{
    width:100%;
    display: flex;
}
.mid{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.mid img{
    width: 80%;
}

.copyright{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comp{
    width: 50%;
}

.left{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.left li{
    list-style: none;
}

.right img{
    width: 30%;
}

.paralax{
  
    background-image: url("/img/poolside.jpg");
  
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.owners{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.owners img{
    width: 90%;

}
.ownerT{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.total{
    width: 100%;
    height: 750px;
    display: flex;
    gap: 10px;
}


.out{
    width: 100%;
    min-height: 300vh;
    display: flex;
}

.drinktxt{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top:0%;
    height: 100vh;
}

.drinktxt h3{
    font-size: 40px;
}

.drinktxt p{
    font-size: 20px;
}


.drinks{
    width: 50%;
    margin: 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.types{
    
    display: flex;
    flex-direction: column;
    min-height: 1px;
    gap: 20px;
}


.imgdisp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgdisp img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.back{
    display: flex;
    width: 100%;
    flex-direction: row;
    height:50vh;
}

.aboutLeft{
    width: 50%;
    display: flex;
    align-items: center;
    height: 50vh;
}

.aboutImg{
    width: 50%;
    background-color:#37BEBB;
    height: 50vh;
}



.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
    display: none;
  }
  
  #hamburger-menu {  
      position:initial;
      top: 20px;
      left: 20px;
      width: 60px;
      height: 50px;
      display: none;
      border: none;
      padding: 0px;
      margin: 20px;
      background: linear-gradient(
        to bottom, 
        #000000, #000000 20%, 
        rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, 
        #000000 40%, #000000 60%, 
        rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
        #000000 80%, #000000 100%
      );
      
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 100%;
      height:150%;
      background-color:#37BEBB;
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #sidebar-menu{
    text-align: center;
  }
  
  #hamburger-menu h3 {
    color: black;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    font-weight: bolder;
}
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }

  #sidebar-menu h4:hover{
        font-weight: lighter;
  }

@media screen and (max-width: 1400px){
    .total{
        height: 600px;
    }

    .out{
        height: 200vh;
    }  
  
}

@media screen and (max-width: 1290px){
    .ownerT{
        font-size: 18px;
    }
}


@media screen and (max-width: 1100px){
    .topnav a{
        font-size: 20px;
    }
    .ownerT{
        font-size: 16px;
    }
    .total{
        height: 500px;
    }
}

@media screen and (max-width:990px){
    .total{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .owners{
        display: flex;
        width: 90%;
    }
    .ownerT{
        display: flex;
        width: 80%;
        font-size: 18px;


    }
}

@media screen and (max-width:950px){
 
}


@media screen and (max-width: 850px){
    .topnav a{

        padding: 14px 20px;
    }
}


@media screen and (max-width: 750px){
    
    /*this will be when the page adds a hamburger menu*/
    .topnav a{
        display: none;
    }
.navPos{
    display: flex;
    justify-content: start;
}
   
    .topnav {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }

    #hamburger-menu {
        display: flex;

    }

      
}
