@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
	 

*{
    box-sizing: border-box;
}

.logo {
    width: 140px;
    padding-right: 20px;
    float: left;

}

.mainImg {
    background-image: url("/img/mainImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 800px;
}
.navPos {
    position: absolute;
    margin: 30px;
    width: auto;
}
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
	background-color: #F8F8F8;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
	font-size: 50px;
}

.topnav {
    overflow: hidden;
    padding-left: 40px;
}

.topnav a {
  padding: 14px 60px;
  text-align: center;
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  float: left;
}	

	
.topnav a::before,
.topnav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.topnav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #FFD160;
  border-right: 3px solid #F8D147;
  transform: translate(-100%, 50%);
}

.topnav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #F8D147;
  border-left: 3px solid #FFD160;
  transform: translate(100%, -50%)
}

.topnav a:hover:before,
.topnav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.topnav a:hover {
  color: #FFD160;
  font-weight: bold;
}

.double{
    width: 100%;
    height: 250px;
    position: absolute;

}

.top{
    height: 20%;
    background-color: #37BEBB;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.top a{
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    
}


.top a:hover{
    color: #FFD160;
    font-weight: bold;
}

.bottom{
    height: 80%;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
}

.ends{
    width:100%;
}
.mid{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.mid img{
    width: 80%;
}

.right{
    display: flex;
    justify-content: center;
    align-items: end;
}

.paralax{
  
    background-image: url("/img/poolside.jpg");
  
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.owners{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.owners img{
    width: 90%;

}
.ownerT{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.total{
    width: 100%;
    height: 750px;
    display: flex;
    gap: 10px;
}


